<div class="container">

    <div id="admin-tariffs" class="row">

        <div id="iframe-warning" class="modal-window" data-bind="visible: isError">
            <div class="modal-content">
                <p id="myID" data-bind="text: errorText">Error occurs</p>
            </div>
            <div class="modal-footer">
                <a href="" class="modal-action modal-close waves-effect waves-green btn-flat "
                   data-bind="click : hideErrorMessage">Ok</a>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Service Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Active</th>
                <th>Duration</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: tariffs">
            <tr>
                <td id="nm" data-bind="text: $index()+1"></td>
                <td>
                    <input type="text"
                           data-bind="value: serviceId, event: {change: $parent.updateValue(id, serviceId, 'servicesID')}"/>
                </td>
                <td>
                    <input type="text" data-bind="value: name, event: {change: $parent.updateValue(id, name, 'name')}"/>
                </td>
                <td>
                    <input type="text"
                           data-bind="value: price, event: {change: $parent.updateValue(id, price, 'value_price')}"/>
                </td>

                <td>
                    <input class="mode" type="checkbox"
                           data-bind="checked: active, attr: { id: 'active_' + id }, click: $root.updateActiveStatus(id, active)"/>
                    <label data-bind="attr: { for: 'active_' + id }"></label>
                </td>
                <td>
                    <input type="text"
                           data-bind="value: duration, event: {change: $parent.updateValue(id, duration, 'value_duration')}"/>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</div>