<section>
    <div class="row center  page_error grey-text">
        <h1>404</h1>
        <h4>component not found</h4>
        <p>Looks like the page you're trying to visit doesn't exist.<br />Please check the URL and try again.</p>
        <a href="/#" class="waves-effect waves-light btn-large">Back Home</a>
    </div>

</section>