<header>
<nav class="teal lighten-1" role="navigation">
	<div class="left_sidebar">
		<div class="nav-wrapper">
			  
		<ul id="nav-mobile" class="right">
		 	<li class="balance"><a href="/pay_methods"><span></span></a></li>
			<li><a href="#"><i class="mdi-action-wallet-giftcard"></i></a></li>
			<li class="language"><a class='right dropdown-button' href='#' data-activates='dropdown1'><i class="mdi-navigation-arrow-drop-down right"></i>Eng</a>
				<ul id='dropdown1' class='dropdown-content'>
					<li><a href="#!">Ru</a></li>
					<li><a href="#!">Ua</a></li>
				</ul></li>
			<li><a href="/logout">Log out</a></li>
		</ul>
		
		 <ul id="nav-mobile-dropdown" class="side-nav fixed collection left_navbar" style="width: 240px; color: black; left: -250px;">
		  <a href="#"  class="button-collapse show-on-large" data-activates="nav-mobile-dropdown" > 
			<i class="mdi-navigation-menu white-text"></i>
		 </a>
			<li class="collection-item avatar">
				  <i class="mdi-social-person circle teal lighten-1"></i>
					<span id="user-login" class="title">Title</span>
			</li>
			<li class="no-padding <% if(name === '/profile'){ %>active<% } %>"><a href="/profile" class="collapsible-header">Profile</a></li>
			<li class="no-padding <% if(name === '/pay_methods'){ %>active<% } %>"><a href="/pay_methods" class="collapsible-header">Refill</a></li>
			 <li class="no-padding">
				 <ul class="collapsible collapsible-accordion">
					 <li>
						 <a class="collapsible-header" href="#!">Services<i class="mdi-navigation-arrow-drop-down right"></i></a>
						 <div class="collapsible-body">
							 <ul>
								 <li><a href="/interface" class="<% if(name === '/interface'){ %>active<% } %>">Brousers</a></li>
								 <li><a href="/scenaries">Vote Manager</a></li>
								 <li><a href="#!">SMS-center</a></li>
								 <li><a href="/rental_numbers">Rental Numbers</a></li>
								 <li><a href="/sms_sent">Sent sms</a></li>
								 <li><a href="/sms_history">sms history</a></li>
								<li><a href="#"></a></li>

							 </ul>
						 </div>
					 </li>
					 </ul>
			 </li>

			<li class="no-padding <% if(name === '/client_payment'){ %>active<% } %>"><a href="/client_payment" class="collapsible-header">Payments</a></li>
		 </ul>
		 	
		</div>
	</div>
  </nav>
</header>