<header>
    <nav class="teal lighten-1" role="navigation">
        <div class="left_sidebar">
            <div class="nav-wrapper">
                <a href="#" class="button-collapse top-nav full hide-on-large-only " data-activates="slide-out"> <i
                            class="mdi-navigation-menu white-text"></i> </a>
                <% if(role === 2){
                    //TODO:render admin pages
                }else{ %>
                <ul id="nav-mobile" class="right">
                    <li><a href="/profile"><span class="profile_name"></span></a></li>
                    <li class="balance"><a href="/pay_methods"><span></span> $</a></li>
                    <!--<li class="language"><a class='right dropdown-button' href='#' data-activates='dropdown1'><i class="mdi-navigation-arrow-drop-down right"></i>Eng</a>-->
                    <!--<ul id='dropdown1' class='dropdown-content'>-->
                    <!--<li><a href="#!">Ru</a></li>-->
                    <!--<li><a href="#!">Ua</a></li>-->
                    <!--</ul></li>-->
                    <li><a href="/logout">Log out</a></li>
                </ul>

                <ul id="slide-out" class="side-nav fixed collection left_navbar">

                    <li class="collection-item avatar">
                        <i class="mdi-social-person circle teal lighten-1"></i>
                        <span class="title profile_name">Title</span>
                    </li>
                    <li class="no-padding <% if(name === '/profile'){ %>active<% } %>"><a href="/profile"
                                                                                          class="collapsible-header">User
                            Profile</a></li>
                    <li class="no-padding <% if(name === '/pay_methods'){ %>active<% } %>"><a href="/pay_methods"
                                                                                              class="collapsible-header">Refill
                            Balance</a></li>
                    <li class="no-padding servises_list">
                        <ul class="collapsible collapsible-accordion">
                            <li class="collapsible-header-services">
                                <a class="collapsible-header">Services<i
                                            class="mdi-navigation-arrow-drop-down right"></i></a>

                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="/interface" class="<% if(name === '/interface'){ %>active<% } %>">Proxy
                                                Browsing</a></li>
                                        <li><a href="/scenaries">Voting Manager</a></li>
                                        <!-- <li><a href="/sms_center">SMS-center</a></li> -->
                                        <!--<li><a href="#"></a></li>-->

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="no-padding <% if(name === '/client_payment'){ %>active<% } %>"><a href="/client_payment"
                                                                                                 class="collapsible-header">Payments
                            History</a></li>
                    <li class="no-padding <% if(name === '/subscription'){ %>active<% } %>"><a href="/subscription"
                                                                                               class="collapsible-header">Subscription</a>
                    </li>
                    <% } %>

                </ul>


            </div>


        </div>
    </nav>
</header>