<header>
<nav class="teal lighten-1" role="navigation">
	<div class="left_sidebar">
		<div class="nav-wrapper">
			  
		<ul id="nav-mobile" class="right">
		 	<li class="balance"><span>0</span>$</li>
			<li><a href="#">Log out</a></li>
			<li><a class='right dropdown-button' href='#' data-activates='dropdown1'>English</a>
		<!-- Dropdown Structure -->
			  <ul id='dropdown1' class='dropdown-content'>
				<li><a href="#!">Ru</a></li>
				<li><a href="#!">Ua</a></li>
			</ul></li>
		 </ul>
		
		 <ul id="nav-mobile-dropdown" class="side-nav fixed collection left_navbar" style="width: 240px; color: black">
		  <a href="#"  class="button-collapse show-on-large" data-activates="nav-mobile-dropdown" > 
			<i class="mdi-navigation-menu white-text"></i>
		 </a>
			<li class="collection-item avatar">
				  <i class="mdi-social-person circle teal lighten-1"></i>
					<span class="title">Title</span>
					<p>Name <br>
					 Surname
					</p>
			</li>
			<li class="<% if(name === '/profile'){ %>active<% } %>"><a href="/profile" class="collapsible-header">Profile</a></li>
			<li class="<% if(name === '/pay_methods'){ %>active<% } %>"><a href="/pay_methods" class="collapsible-header">Refill</a></li>
			<li class="<% if(name === '/interface'){ %>active<% } %>"><a href="/interface" class="collapsible-header">Browser</a></li>
			<li class="<% if(name === '/client_payment'){ %>active<% } %>"><a href="/client_payment" class="collapsible-header">Payments</a></li>
		 </ul>
		 	
		</div>
	</div>
  </nav>
</header>