<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico" />
		
		<!-- Materializecss -->
		<link type="text/css" rel="stylesheet" href="/styles/materialize.min.css"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		

    </head>
    <body>
		<!-- Materializecss -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/scripts/materialize.min.js"></script>
		
        <%- include('header'); %>
        <%- body %>
        <%- include('footer'); %>
		
		 <!--  Scripts-->
		 <!-- Materializecss -->
			  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			  <script src="/scripts/materialize.js"></script>
			  <script src="/scripts/init.js"></script>
    </body>
</html>