//
   Created by anton.nepyyvoda on 12.12.2014.
extends layout

block content
   script(src="/javascripts/iframe.js")
   div(class='admin-panel')
        div(class='row')
            div(class='col-sm-9')
                h1(style='text-align: left') Voting assistant panel
                div(class='row voting-row')
                     div(class='form-group col-xs-2')
                        input(placeholder='Name' name='name' class='form-control')
                     div(class='form-group col-md-1')
                        input(placeholder='Votes' name='count' class='form-control')
                     button(id='clearChain' class='btn btn-default' type='button') Clear chain
                     button(id='accept-voting' class='btn btn-primary' type='button') Save voting
            div(class='col-sm-3')
                div(class='col')
                    div(class='row col-lg-12')

                        button(id='captchaActivate' class='btn btn-warning btn-captcha') CAPTCHACHEKER
                    div(class='row col-lg-12')

                        button(id='captchaImage' class='btn btn-sm btn-captcha disabled') CAPTCHAIMG
                        label(id='captchaImageStatus' class='hide') Image not selected
                    div(class='row col-lg-12')

                        button(id='captchaInput' class='btn btn-sm btn-captcha disabled') CAPTCHAINPUT
                        label(id='captchaInputStatus' class='hide') Input not selected


   iframe(
        src=proxyUrl width='100%' height='4000' frameborder=0 scrolling='no'
   )