<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        
        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- Materializecss -->
		<link type="text/css" rel="stylesheet" href="/styles/materialize.min.css"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link href="/styles/style_start.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	
	<body>

	<div class="first_info ">
		<div class="row">
			<a href="/login"  class="waves-effect waves-light btn right login_button"><i class="mdi-action-exit-to-app left"></i>Log in</a>
		</div>
		<div class="fiaretto_center">
		    <h1 class="center" style="width: 100%;">Fiaretto</h1>

			<div class="center start_btn">
				<a href="/registration" class="waves-effect waves-light btn-large">Register</a>
			</div>
		</div>
	</div>
	
	<!--Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/scripts/libs/materialize.min.js"></script>
	<script src="/scripts/init.js"></script>

	</body>
</html>
 
  