<div class="container">
    <script src="/scripts/interface.js"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
	<div class="row search_line">
		<div class="col s12 m12">
			<div class="card card_methods teal lighten-1">
				<div class="card-content client_payment white-text">
					<h5 class="header section-title">
                        <span><i class="small material-icons">language </i>
                                Proxy Browsing
                        </span>
					</h5>
				</div>
				<div class="card-action card-action-line has-browser">


					<!-- <div class="col m1 s12 search_button center-align ">
                        <nav>
                            <ul class="left center">
                                <li><a href="#"><i class="mdi-content-undo small"></i></a></li>
                                <li><a href="#"><i class="mdi-content-redo small"></i></a></li>
                                <li><a href="#"><i class="mdi-action-autorenew small"></i></a></li>
                            </ul>
                        </nav>
                    </div> -->

					<div class="col s12 m4 l3 select_country proxy">
                        <div class="relative-time hidden"></div>
						<h6>Select country</h6>
						<div class="filter_settings input-field">

							<select name = "country" form="send">
								<option value="">Auto</option>
								<option value="{ua}">Ukraine</option>
								<option value="{ru}">Russian Federation</option>
								<option value="{us}">United States</option>
								<option value="{uk}">Scotland</option>
								<option value="{fr}">France</option>
								<option value="{ro}">Romania</option>
								<option value="{es}">Spain</option>
								<option value="{kr}">Korea</option>
								<option value="{jp}">Japan</option>
								<option value="{il}">Israel</option>
								<option value="{it}">Italy</option>
								<option value="{de}">Germany</option>
								<option value="{pl}">Poland</option>
								<option value="{se}">Sweden</option>
								<option value="{ch}">Switzerland</option>
								<option value="{an}">Netherland</option>
							</select>

						</div>
					</div>

					<div class="col s12 m12 search_form proxy">
						<h6>Enter URL's target</h6>
						<nav class="search_url">
							<div class="nav-wrapper ">
								<form target="_blank" action="/vpn" method="GET" id = "send">
									<div class="input-field">
										<input id="search" name = "url" type="search" required placeholder="http://test.com">
										<label for="search"><i class="mdi-action-search"></i></label>
									</div>
								</form>
							</div>
						</nav>
					</div>

					<div class="col m12 proxy">
						<div class="sum">
							<a class="btn teal lighten-4" onclick="document.forms['send'].submit()">GO</a>
						</div>
					</div>
				</div>

                <div class="row hidden no-has-browser">
                    <div class="col s12 m4">
                        <div class="card blue darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Buy 1 DAY</span>
                                <p id="pay-1-day"></p>
                            </div>
                            <div class="card-action">
                                <a href="#">Buy</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="card blue darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Buy 1 WEEK</span>
                                <p id="pay-1-week"></p>
                            </div>
                            <div class="card-action">
                                <a href="#">Buy</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="card blue darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Buy 1 MONTH</span>
                                <p id="pay-1-month"></p>
                            </div>
                            <div class="card-action">
                                <a href="#">Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>

	</div>
</div>