<div class="container">
    <script src="/scripts/interface.js"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
    <script language="javascript" type="text/javascript">

        function proxy() {

            window.open( 'vpn/' + document.getElementById("search").value + document.getElementById("country").value);

        }
		function getFlashVersion() {
			// ie
			try {
				try {
					// avoid fp6 minor version lookup issues
					// see: http://blog.deconcept.com/2006/01/11/getvariable-setvariable-crash-internet-explorer-flash-6/
					var axo = new ActiveXObject('ShockwaveFlash.ShockwaveFlash.6');
					try {
						axo.AllowScriptAccess = 'always';
					}
					catch(e) {
						return '6,0,0';
					}
				}
				catch(e) {}
				return new ActiveXObject('ShockwaveFlash.ShockwaveFlash').GetVariable('$version').replace(/\D+/g, ',').match(/^,?(.+),?$/)[1];
			}
				// other browsers
			catch(e) {
				try {
					if (navigator.mimeTypes["application/x-shockwave-flash"].enabledPlugin) {
						return (navigator.plugins["Shockwave Flash 2.0"] || navigator.plugins["Shockwave Flash"]).description.replace(/\D+/g, ",").match(/^,?(.+),?$/)[1];
					}
				}
				catch(e) {}
			}
			return false;

		}

		if( getFlashVersion()){
			alert ("Please turn off the flash to ensure anonymity");
		}

    </script>
	<div class="row search_line">
		<div class="col s12 m12">
			<div class="card card_methods teal lighten-1">
				<div class="card-content client_payment white-text">
					<h5 class="header section-title">
                        <span><i class="small material-icons"></i>
                                Proxy Browsing
                        </span>
					</h5>
				</div>

				<div class="card-action card-action-line has-browser hidden">


					<!-- <div class="col m1 s12 search_button center-align ">
                        <nav>
                            <ul class="left center">
                                <li><a href="#"><i class="mdi-content-undo small"></i></a></li>
                                <li><a href="#"><i class="mdi-content-redo small"></i></a></li>
                                <li><a href="#"><i class="mdi-action-autorenew small"></i></a></li>
                            </ul>
                        </nav>
                    </div> -->

					<div class="col s12 m4 l3 select_country proxy">
                        <div class="relative-time hidden"></div>
						<h6>Select country</h6>
						<div class="filter_settings input-field">

							<select id = "country" name = "country" form="send">
								<option value="{}">Auto</option>
								<option value="{ua}">Ukraine</option>
								<option value="{ru}">Russian Federation</option>
								<option value="{us}">United States</option>
								<option value="{fr}">France</option>
								<option value="{ro}">Romania</option>
								<option value="{es}">Spain</option>
								<option value="{kr}">Korea</option>
								<option value="{jp}">Japan</option>
								<option value="{il}">Israel</option>
								<option value="{it}">Italy</option>
								<option value="{de}">Germany</option>
								<option value="{pl}">Poland</option>
								<option value="{se}">Sweden</option>
								<option value="{ch}">Switzerland</option>
							</select>

						</div>
					</div>

					<div class="col s12 m12 search_form proxy">
						<h6>Enter URL's target</h6>
						<nav class="search_url">
							<div class="nav-wrapper ">
									<div class="input-field">
										<input id="search" type="url" required placeholder="http://test.com" onsubmit="proxy()">
										<label for="search"><i class="mdi-action-search"></i></label>
									</div>
							</div>
						</nav>
					</div>

					<div class="col m12 proxy">
						<div class="sum">
							<a class="btn teal lighten-4" onclick="proxy()">GO</a>
						</div>
					</div>
				</div>

                <div class="row hidden no-has-browser">
                    <h6 class="white-text">You hasn't available this service. But u can buy them!</h6>
                    <a class="waves-effect waves-light btn blue-grey white-text" href="/pay">Buy service $</a>
                </div>


            </div>
		</div>

	</div>
</div>