<div class="container">
	<div class="row search_line">

		<div class="row">
			<!-- <div class="col m1 s12 search_button center-align ">
                <nav>
                    <ul class="left center">
                        <li><a href="#"><i class="mdi-content-undo small"></i></a></li>
                        <li><a href="#"><i class="mdi-content-redo small"></i></a></li>
                        <li><a href="#"><i class="mdi-action-autorenew small"></i></a></li>
                    </ul>
                </nav>
            </div> -->
			<div class="col s12 m12 search_form ">
				<nav class="search_url">
					<div class="nav-wrapper ">
						<form target="_blank" action="/vpn" method="GET" >
							<div class="input-field">
								<input id="search" name = "url" type="search" required placeholder="http://test.com">
								<label for="search"><i class="mdi-action-search"></i></label>
							</div>
						</form>
					</div>
				</nav>
			</div>
		</div>

	</div>
</div>