<div class="container">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="/scripts/pay.js"></script>

    <span>
        <input id="i_amount" type="number">
            <!-- Button trigger modal -->
        <button id="b_call_pay" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Pay
        </button>
    </span>




    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p id='p_amount'/>
                    <form method="post" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class="paypal-button" target="_top">
                        <div class="hide" id="errorBox"></div>
                        <input type="hidden" name="button" value="buynow">
                        <input type="hidden" name="item_name" value="Addition'">
                        <input type="hidden" name="quantity" value="1">
                        <input type="hidden" name="amount" value="">
                        <input type="hidden" name="custom" value= '{"user": "test", "id_proc": new Date.now(), "amount":""}'>
                        <input type="hidden" name="currency_code" value="RUB">
                        <input type="hidden" name="return" value="http://paupalclient-47281.onmodulus.net/status">
                        <input type="hidden" name="env" value="www.sandbox">
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="E9H953PCMYUWE">
                        <input type="hidden" name="bn" value="JavaScriptButton_buynow">
                        <button type="submit" class="paypal-button large">Buy Now</button></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>