<div class="container">
    <script src="/scripts/pay.js"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
    <div class="card card_methods teal lighten-1">

        <div class="card-content client_payment white-text">
            <h5 class="header section-title">
                        <span><i class="small material-icons">payment </i>
                                Service market
                        </span>
            </h5>
        </div>

        <div class="card-action card-action-line">
            <h5 class="white-text">Buy browser</h5>

            <div class="relative-time white-text hidden"></div>
            <div class="row no-has-browser">
                <div class="col s12 m4">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Buy 1 DAY</span>
                            <p id="browser_day"></p>
                        </div>
                        <div class="card-action">
                            <a id="buy_browser_day" href="#modalbrowser" class="modal-trigger day">Buy</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Buy 1 WEEK</span>
                            <p id="browser_week"></p>
                        </div>
                        <div class="card-action">
                            <a id="buy_browser_week" href="#modalbrowser" class="modal-trigger week">Buy</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Buy 1 MONTH</span>
                            <p id="browser_month"></p>
                        </div>
                        <div class="card-action">
                            <a id="buy_browser_month" href="#modalbrowser" class="modal-trigger">Buy</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Structure -->
            <div id="modalbrowser" class="modal">
                <div class="modal-content">
                    <h4>Are u really want buy service?</h4>
                    <p></p>
                </div>
                <div class="modal-footer">
                    <a href="" class="modal-action modal-close waves-effect btn-flat">Cancel</a>
                    <a class="modal-action modal-close waves-effect btn-flat buy-link" data-send="">Agree</a>
                </div>
            </div>
        </div>

    </div>
</div>