<div class="container">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/scripts/pay_methods.js"></script>
	 <div class="row">
		<div class="col s12 m12">
			<div class="card card_methods teal lighten-1 valign center z-depth-2">
				<div class="card-content white-text">
					 <h1 class="card-title">Refill your balance</h1>
					<div class="row">
						<div class="amount_currency">
							<!--<a class="col s4 m1 offset-m3 btn-large btn_count disabled">200</a>-->
							<div class="col s4 m4 offset-m4">
								<div class="">
									<form class="col s4 m4 offset-m2">
										<input type="text" class="white amount">
									</form>
									<select class="white col s4 m4 browser-default currency">
										<option value="1" selected>USD</option>
										<!--<option value="2">EUR</option>-->
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="center-btn pay_methods">
						<form method="post" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class="paypal-button" target="_top">
							<div class="hide" id="errorBox"></div>
							<input type="hidden" name="button" value="buynow">
							<input type="hidden" name="item_name" value="Addition'">
							<input type="hidden" name="quantity" value="1">
							<input type="hidden" name="amount" value="">
							<input type="hidden" name="custom" value= '{"user": "test"}'>
							<input type="hidden" name="currency_code" value="RUB">
							<input type="hidden" name="env" value="www.sandbox">
							<input type="hidden" name="cmd" value="_xclick">
							<input type="hidden" name="business" value="E9H953PCMYUWE">
							<input type="hidden" name="bn" value="JavaScriptButton_buynow">
						</form>
						<a class="teal accent-4 paypal btn-large"></a>
						<a class="teal accent-4 webmoney btn-large modal-trigger" href="#refill"></a>
						<a class="teal accent-4 mastercard btn-large modal-trigger" href="#refill"></a>
					</div>
				</div>
			</div>

			</div>
		</div>
	 </div>
<div id="refill" class="modal small">
	<div class="modal-content">
		<a href="#!" class="right modal-close close_btn"> <i class="small  mdi-content-clear"></i></a>
		<h4>Refill balance</h4>
		<p>Refill method will be available soon</p>
	</div>
	<div class="modal-footer">
		<!--<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>-->
	</div>
</div>