<div class="container">
	 <div class="row">
		<div class="col s12 m12">
			<div class="card card_methods teal lighten-1 valign center z-depth-2">
				<div class="card-content white-text">
					 <h1 class="card-title">Methods of payment</h1>
				</div>
				<div class="row">		
					<div class="amount_currency">
						<a class="col s4 m1 offset-m3 btn-large btn_count disabled">200</a>
						<form class="col s4 m2">
							<input type="text" class="white amount">
						</form>
						<select class="white col s3 browser-default currency">
							<option value="" disabled selected>currency</option>
							<option value="1">USD</option>
							<option value="2">EUR</option>
						</select>
					</div>
				</div>
				
				<div class="center-btn pay_methods">
					<a class="teal accent-4 paypal btn-large"></a>
					<a class="teal accent-4 webmoney btn-large"></a>
					<a class="teal accent-4 mastercard btn-large"></a>
				</div>
			</div>

			</div>
		</div>
	 </div>
