<div class="container">
	<div class="row">
    	<div class="col s6 m6">
          	<div class="">
				<div class="card-content white-text">
					<div class="row">
						<!--<div class="col s12 m5 center profile_img">-->
							<!--<a href="/pay_methods" class="waves-effect waves-light btn-large"><i class="mdi-action-account-balance-wallet left"></i> Deposit </a>-->
						<!--</div>-->
						<div class="col s12 m12">
							<ul class="profile_info">
								<li>
									<div class="input-field">
									  <input id="user-email" value="" type="text" class="validate">
									  <label class="active profile_title" for="first_name2">E-mail</label>
									</div>
								</li>
								 <li>
									 <div class="input-field input_pass">
										 <input id="password" type="password" class="validate">
										 <label for="password">Current password</label>
									 </div>
								 </li>
								<li>
									<div class="input-field input_pass">
										<input id="password-new" type="password" class="validate">
										<label for="password-new">New password</label>
									</div>
								</li>
							</ul>
						</div>
						<div class="col s12 m12">
							<div class="card-action links_profile">
								<a href="#" class="waves-effect waves-light btn-large right" onclick="test()">Save </a>
							</div>
						</div>

				  	</div>
				</div>
		 	</div>
	  	</div>
	</div>
</div>