<div class="container">
	<div class="row">
    	<div class="col s12 m12">
          	<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<h5 class="header section-title">
						<span><i class="mdi-action-home">
							</i>
							Profile
						</span>
				  	</h5>
					<div class="row">
						<div class="col s12 m5 center profile_img">
							<a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add a photo"><i class="large circle light-blue lighten-4 mdi-social-person"></i></a>
							<h5><span class="profile_name">Name</span> <span class="profile_surname">Surname</span></h5>
							<h5><span class="profile_balance">Balance</span><br> <span class="count">200</span><span class="curency"> $ </span></h5>
							<a href="/pay_methods" class="waves-effect waves-light btn-large"><i class="mdi-action-account-balance-wallet left"></i> Deposit </a>
						</div>
						<div class="col s12 m7">
							<ul class="collection profile_info">
								<li class="collection-item teal lighten-1 avatar">
									<div class="input-field">
									  <input value="123@gmail.com" id="first_name2" type="text" class="validate">
									  <label class="active profile_title" for="first_name2">E-mail</label>
									</div>
								</li>
								 <li class="collection-item teal lighten-1 avatar">
									 <div class="input-field input_pass">
										 <input id="password" type="password" class="validate">
										 <label for="password">Current password</label>
									 </div>
								 </li>
								<li class="collection-item teal lighten-1 avatar">
									<div class="input-field input_pass">
										<input id="password-new" type="password" class="validate">
										<label for="password-new">New password</label>
									</div>
								</li>
							</ul>
						</div>
						<!--<div class="card-action links_profile">-->
						  <!--<a href="#" class="right"> link</a>-->
						  <!--<a href='#' class="right"> link</a>-->
						<!--</div>-->
				  	</div>
				</div>
		 	</div>
	  	</div>
	</div>
</div>