<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card card_methods teal lighten-1">
                <div class="card-content client_payment white-text">
                    <h5 class="header section-title">
                        <span><i class="mdi-action-assignment">  </i>
                            Voting Manager
                        </span>
                    </h5>
                </div>
                <div class="card-action  card-action-line">
                    <div class="row">
                        <p class="scenaries_head add">Add Voting URL</p>
                        <div class="left-align">
                            <input id="scenario-url" placeholder="http://example.com" />
                            <a href="#" onclick="initScenario(this)" class="waves-effect waves-circle teal lighten-4 btn-floating add_site">
                                <i class="mdi-content-add"></i>
                            </a>
                        </div>
                        <p class="scenaries_head">Scenarios List</p>

                    </div>

                    <div class="row  table_history">
                        <table >
                            <thead>
                                <tr>
                                    <th data-field="name">Name</th>
                                    <th data-field="id">Voting URL</th>
                                    <!--<th data-field="name">Script parameters</th>-->
                                     <th data-field="iterations">Iterations</th>
                                    <th data-field="mode"> Speed Mode</th>
                                    <!--<th data-field="price">Progress</th>-->
                                    <th data-field="start">Scenario Running</th>
                                    <th data-field="price">Delete  </th>
                                </tr>
                            </thead>

                            <tbody id="scenarios-list">
                                <tr class="template hidden">
                                    <td class="name"></td>
                                    <td class="url"></td>
                                    <!--<td><a href="#settings_window" class="waves-effect waves-light btn modal-trigger">setting</a></td>-->
                                    <td>10</td>
                                    <td class="mode"></td>
                                    <td><a href="#" onclick="startScenario(this)" class="waves-effect waves-light btn">start</a></td>

                                    <!--<td>-->
                                        <!--<div class="progress progress_persent">-->
                                        <!--<div class="determinate center-align" style="width: 70%">70%</div>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <td class="delete_scenarie">
                                        <a href="#" onclick="deleteScenario(this)"> <i class="small mdi-navigation-close"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>

            </div>
        </div>
    </div>
</div>

    <div id="settings_window" class="modal settings_window_modal">
        <div class="modal-content ">
            <h4>Window parameter input script</h4>
            <div class="row">
                <div class="col s4 m4">
                    <h6>Internet resource</h6>
                </div>
                <div class="col s8 m8 input-field">
                    <input value="wwww" id="first_name2" type="text" class="validate">
                </div>
            </div>
            <div class="row modal_select">
                <div class="col s4 m4">
                    <h6>Scenarios visit</h6>
                </div>
                <div class="col s8 m8 input-field">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
                </div>
            <div class="row">
                <form action="#">
                    <p>
                        <input type="checkbox" id="test5" />
                        <label for="test5">Select the sample script</label>
                    </p>
                </form>
            </div>

            <div class="row">
                <div class="table_scenaries">
                    <table>
                        <thead>
                        <tr>
                            <th data-field="id">Number of visits</th>
                            <th data-field="name">Country visits</th>
                            <th data-field="price">price / bonuses</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                </div>
                            </td>
                            <td>
                                <div class="input-field col s12">
                                    <select>
                                        <option value="" disabled selected></option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                </div>
                            </td>
                            <td class="price_bonuses">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea col s12 m5"></textarea>
                                    <div class="col m1 s1 center hide-on-small-only">/</div>
                                    <textarea id="textarea1" class="materialize-textarea table_bonuses col s12 m5"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                </div>
                            </td>
                            <td>
                                <div class="input-field col s12">
                                    <select>
                                        <option value="" disabled selected></option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                </div>
                            </td>
                            <td class="price_bonuses">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea col s12 m5"></textarea>
                                    <div class="col m1 s1 center hide-on-small-only">/</div>
                                    <textarea id="textarea1" class="materialize-textarea table_bonuses col s12 m5"></textarea>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <h6><a href="#"><i class="mdi-content-add-circle"></i> Add a country</a></h6>
                <div class="col s4 m4">
                    <h6>Payment scheme</h6>
                </div>
                <div class="col s8 m86 input-field modal_select">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="modal-footer modal-footer-scenaries">
            <a href="#!" class="waves-effect waves-light btn modal-action modal-close  red darken-1">Cancell</a>
            <a href="#!" class="waves-effect waves-light btn modal-action modal-close">OK</a>

        </div>
    </div>
   </div>