<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <!-- Materializecss -->
    <link type="text/css" rel="stylesheet" href="/styles/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="/styles/style_start.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>

<body>


 <div class="container">
	  <div class="row social_networks">
        <div class="col s12 m6 offset-m3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <h5 class="header section-title">
				<span><i class="mdi-social-public">
					</i>
					Social networks
				</span>
			  </h5>
			  <div class="row center social_btn card-action">
				<a class=" btn-large"><img src="images/vk_logo.png" width="100" height="100" alt="vk"></a>
				<a class=" btn-large"><img src="images/fb_logo.png" width="100" height="100" alt="fb"></a>
				<a class=" btn-large"><img src="images/ok_logo.png" width="100" height="100" alt="ok"></a>
			</div>
			 <div class="row center social_btn">
				<a class=" btn-large"><img src="images/google_logo.png" width="100" height="100" alt="google+"></a>
				<a class=" btn-large"><img src="images/twitter_logo.png" width="100" height="100" alt="twitter"></a>
				<a class=" btn-large"><img src="images/mailru.png" width="100" height="100" alt="mail.ru"></a>
			</div>
        </div>
      </div>  
    </div>
  </div>
  </div>

 <!--  Scripts-->
 <!-- Materializecss -->
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script type="text/javascript" src="/scripts/libs/jquery.cookie.js"></script>
 <script type="text/javascript" src="/scripts/libs/materialize.min.js"></script>
 <script type="text/javascript" src="/scripts/init.js"></script>
 <script type="text/javascript" src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
 <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
