html h1{
    font-family: 'Alegreya Sans SC', sans-serif !important;
	color:white;
}
body{
	background-color:#b2dfdb;
}
.login_button{
	margin:10px;
}
.start_btn{
	margin-top: 50px;
}
.second_info, .third_info{height:500px;}
.registration .registration-forma{padding:20px; margin-top:10%;}
.social_link{margin-top:-7px; margin-bottom:0px; padding-bottom:8px;}
.fiaretto_center{height: 250px;
    width: 500px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -250px;
    margin-top: -200px;}
/*-----------------------Social networks-------------------*/
.social_btn .btn-large{
    width:100px;
    height:100px;
    padding:0;
    background-color:transparent;
    box-shadow:none;
}
.section_title {margin-bottom: 20px;}
.social_networks .card{margin-top:20%;}

/*--------------------Login--------------------------------*/
.button_in{margin-top: 20px; margin-bottom: 5px;}

/*--------------404------------*/
.page_error h1{font-size: 125px; margin:100px 0 50px; }
.page_error h2{margin-top: 10%;}
.page_error h4{margin-bottom: 30px;}
.page_error p{margin-bottom: 50px;}

/*------------registration success----------*/
.reg_success{margin-top: 20%;}
.registration_error{
    background-color: #f44336;
    opacity: 0.6;
    height: 35px;
    float: inherit;
    width: 90%;
    margin-left: 3rem;
    margin-top:0px;
}